# exclude .DS_Store
.DS_Store

# exclude all compiled files
*.class
*.out

# excluded directory
LearningPhase/School/CCSF/CS_111B/
.vscode/

# excluded keyword:
*test.*

# general excluded files:
LearningPhase/Personal/c/wordCount.java
LearningPhase/Personal/c/wordCount.c
